.git
.gitignore
.github
node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
!storage/**/.gitignore
database/database.sqlite
tests
.phpunit.cache
.phpunit.result.cache
phpunit.xml
README.md
